*{
    font-family: 'Creepster', cursive;
    letter-spacing: 2px;
}

.header-bg-green{
    background: rgb(151,206,76);
}

.side-bar-div{    
    width: 12rem
}
.no-show{
    display: none;
}

.sign-in-display{
    display: flex;
    width: 60%;    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.error-nput{
    font-size: 20px;
    color: red;
    width: 30%;
    background-color: black;
    font-weight: bold;
    margin-top:5px;
  }

.nav-bar-episodes{
    height: 600px;
    overflow-y: auto;
}




