*{
    font-family: 'Creepster', cursive;
    letter-spacing: 2px;
    box-sizing: border-box;

}

html {
    height: 100vh;
}
body{
    height: 100vh;
}
.side-bar-div{    
    width: 12rem;
    transition: 0.5s ease-in-out;
}

.sign-in-display{
    display: flex;
    width: 60%;    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.error-input{
    font-size: 20px;
    color: red;
    width: 30%;
    background-color: black;
    font-weight: bold;
    margin-top:5px;
  }

.nav-bar-episodes{
    height: 600px;
    overflow-y: auto;
}
.div-trailer{
    max-width: 600px;
    min-width: 300px;
}


.iframe-youtube{
    width: 100%;
    height: 100%;
}
.container-main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn{
    transition: 0.5s ease-in-out;
}
.btn:hover{
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}
.btn:not(:hover){
    transition: 0.5s;
}
.card-transform:hover{
    transition:all 0.5s ease-in-out;
    transform: scale(1.1);
    z-index: 1000;

}
.card-transform:not(:hover){
    transition:all 0.5s ease-in-out;

}





@media screen and (max-width: 500px){
   .side-bar-div{
    width: 7rem;
   } 
}



::-webkit-scrollbar{
    width: 5px;
  height: 8px;
  background-color: #c0d3c2; 
}