*{
    font-family: 'Creepster', cursive;
    letter-spacing: 2px;
}

.header-bg-green{
    background: rgb(151,206,76);
}


.side-bar-div{
    
    width: 12rem

}
.no-show{
    display: none;
}

.form-div{
    display: none;
    width: 60%;
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}


.form-center{
    display: none;
    flex-direction: column;

    position: relative;
    align-items: center;
    justify-content: center;
}
.nav-bar-episodes{
    height: 600px;
    overflow-y: auto;
}


